*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url("/images/hadi.jpg"); /* The image used */
    background-color: #4A8DD4; /* Used if the image is unavailable */
    background-repeat: no-repeat; 
    background-size: cover;
    font-size: 25px;
    font-weight:bolder;
}
#api-box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
}
#api_temperature{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    height: 120px;
    background-color:transparent;
    border-radius: 10px;
    margin-top: 160px;
   background-color: #16394C;
   color: white;
}
#api_info{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 170px;
    color: white
}
#api{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
::placeholder{
    color: #4A8DD4;
}
#zone{
    width: 450PX;
    height: 50px;
    font-size: 25px;
    font-weight:bold;
    color: white;
    background-color: #061D50;
    border:1px solid #061D50;
    margin-bottom: 0px;
    border-radius: 10px;
    padding-left: 20px;
}

#weather-icon{
    display: flex;
    flex-direction: column;
}
.cercle{
    width: 120px;
    height: 120px;
    background-color: #4A8DD4;
    border-radius: 50%;
}
.flex{
    display: flex;
    flex-direction: column;
    text-align: center;
}
h4{
    padding-top: 40px;
}